h1 {
    position: relative;
    top: 4vh;
    text-align: center;
}


.langs {
    position: relative;
    top: 7vh;
    left: 50vw;
    width: 48vw;
}

.left {
    color: black;
    position: relative;
    left: 1vw;
    float: left;
    font-size: 4vh;
}

.right {
    float: right;
    position: relative;
    font-size: 4vh;
    left: 2vw;
}

.python {
    background-color: gray;
    margin-bottom: 3vh;
    position: relative;
    height: 6vh;
    width: 48vw;
    overflow: hidden;
}

.inner-python {
    height: 100%;
    width: 90%;
    background-color: rgb(174,198,207);
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
    animation-delay: 2s;
}

.java {
    background-color: gray;
    margin-bottom: 3vh;
    position: relative;
    height: 6vh;
    width: 48vw;
}

.inner-java {
    height: 100%;
    width: 90%;
    background-color: rgb(174,198,207);
}

.C {
    background-color: gray;
    margin-bottom: 3vh;
    position: relative;
    height: 6vh;
    width: 48vw;
}

.inner-C {
    height: 100%;
    width: 75%;
    background-color: rgb(174,198,207);
}

.javascript {
    background-color: gray;
    margin-bottom: 3vh;
    position: relative;
    height: 6vh;
    width: 48vw;
}

.inner-javascript {
    height: 100%;
    width: 70%;
    background-color: rgb(174,198,207);
}

.SQL {
    background-color: gray;
    margin-bottom: 3vh;
    position: relative;
    height: 6vh;
    width: 48vw;
}

.inner-SQL {
    height: 100%;
    width: 70%;
    background-color: rgb(174,198,207);
}

.bash {
    background-color: gray;
    position: relative;
    height: 6vh;
    width: 48vw;
}

.inner-bash {
    height: 100%;
    width: 70%;
    background-color: rgb(174,198,207);
}

.LHS {
    position: relative;
    width: 50vw;
    top: -40vh;
    font-size: 3.3vh;
    color: black;
}

.list{
    position: relative;
    width: 40vw;
    left: 5vw;
    top: -5vh;
}

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}