/*.App-nav {*/
/*    background-color: black;*/
/*    min-height: 5vh;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    align-items: center;*/
/*    justify-content: space-around;*/
/*    color: white;*/
/*    border-bottom: 1px solid white;*/
/*}*/

/*.active-link {*/
/*  !*color: red;*!*/
/*}*/

/*a {*/
/*  font-size: 1rem;*/
/*  texdecoration: none;*/
/*  colot-r: white;*/
/*  transition: all 0.4s ease-out;*/
/*}*/

.App-nav a:hover {
    color: white;
    cursor: pointer;
}


body{
    background: rgb(119,119,119);
    background: linear-gradient(90deg, rgba(119,119,119,1) 0%, rgba(0,0,0,1) 93%);
    color: white;
}

.nav-link {
    color: white !important;
}

#name {
    color: white !important;
}