/*.line {*/
/*    width: 75%;*/
/*    height: 50%;*/
/*    border-bottom: 1px solid white;*/
/*    -webkit-transform:*/
/*            translateY(0px)*/
/*            translateX(5px)*/
/*            rotate(320deg);*/
/*    position: absolute;*/
/*    left: 50vw;*/
/*}*/

/*.exp {*/
/*    position: relative;*/
/*    top: 82vh;*/
/*    left: 80vw;*/
/*    font-size: 45px;*/
/*}*/

.contact_header {
    text-align: center;
    position: relative;
    top: 20vh;
}

.ctc {
    text-align: center;
    position: relative;
    top: 25vh;
}

.buttons {
    position: relative;
    left: 44vw;
    top: 35vh;
}

.darkone {
    position: relative;
    top: 3vh;
    left: -15vw;
}

.lightone {
    position: relative;
    top: -4vh;
    left: 15vw;
}