iframe {
    width: 80vw;
    height: 85vh;
    margin: 0 auto;
    background-color: #777;
    display:block;
    padding-bottom: 1vh;
}

h1{
    text-align: center;
}

h4{
    text-align: center;
}

.opal{
    position: relative;
    width: 80vw;
    left: 10vw;
}

